*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

p{
    color: #000;
}

.top div, .bottom div{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    position: fixed;
    
}
.top div{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
}

.bottom span:nth-child(2){
    font-weight: 300;
    font-size: 14px;
    line-height: 25px; 
    color: #000;
    margin: 0 0 10px 5px;
}

.bottom span:first-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 30px 10px 5px;
}


.bottom div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    left: 0;
    bottom: 0;
}

.top img{
    width: 75px;
    height: 53px;
}

.top .icon{
    font-size: 45px;
}

.bottom input{
    width: 145px;
    height: fit-content;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000;
    border: none;
}

.bottom .icon{
    font-size: 26px;
    cursor: pointer;
}

.bottom .icon:active{
    transform: translate(1px,1px);
}
.container{
    margin: 102px 0;
}

.private_message{
    background-color: #FFDEDE;
}

.status_message{
    background-color: #DCDCDC;
}

.normal_message{
    background-color: #FFF;
}

.messages div {
    width: 100%;
    height: fit-content;
    padding: 20px 10px;
    margin: 4px 0;
}

.hidden, .hidden_user_check, .hidden_type_check{
    display: none;

}

.block{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
}

.left_side{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}

.side_bar{
    background-color: #FFF;
    width: 259px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.side_bar p{
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    color: #000;
    padding: 25px;
}

.side_bar div{
    width: 100%;
    height: fit-content;
}

.side_bar .icon{
    font-size: 25px;
    margin: 8px;
}

.participants p, .type p{
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
}

.participants div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user_name, .type_msg{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.user_name .icon, .type_msg .icon{
    padding: 0 10px;
    font-size: 20px;
    color:#28BB25;
}

.user_item:active{
    transform: translate(1px,1px); 
}

.selected_user_check, .selected_user, .selected_type_check, .selected_type{
    color:#28BB25;
}